<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Itens</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
        <header>
            <h1>Itens Disponíveis</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/list">Itens</a></li>
                </ul>
            </nav>
        </header>
    <main>
        <h2>Lista de Itens</h2>
        <ul>
            <li>
                <h3>Nome do Item</h3>
                <p>Preço: R$100</p>
                <p>Descrição do item.</p>
            </li>
            <!-- Repita o bloco <li> conforme necessário para exibir mais itens -->
        </ul>
    </main>
    <footer>
        <p>&copy; 2024 E-commerce de Comida</p>
    </footer>
</body>
</html>
