<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Itens</title>
    <link rel="stylesheet" href="/list.css">
</head>
<body>
    <header>
        <h1>Itens Disponíveis</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/list">Itens</a></li>
            </ul>
        </nav>
    </header>
    <ul id="item-list">
        <!-- Itens serão inseridos dinamicamente aqui -->
    </ul>

    <script src="/script.js"></script>
</body>
</html>
